#request-page{width: 100%; height: auto; position: relative;}
.inner{width: 1200px; height: 100%; margin: 0px auto 50px; padding-top: 200px;}
.top-con{margin-bottom: 70px; /*background: url(../images/requestbg.png) no-repeat right bottom;*/ position: relative;}
.top-con img{position: absolute; right: 0; bottom: 0; z-index: -1;}
.top-con .main-title{margin-bottom: 90px;}
.request-box{padding-left: 25%; margin-bottom: 200px;}
input:valid ~ label, textarea:valid ~ label, input:focus ~ label, textarea:focus ~ label{font-size: 14px; color: #fb0033; top: -40px; transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1)}
.request-form > form div{width: 100%; position: relative; margin-bottom: 50px;}
.request-form label{color: #999; padding: 10px 5px; position: absolute; top: 0; left: 0; transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); pointer-events: none;}
.request-form input{border: 0; border-bottom: 1px solid #999; width: 100%; height: 45px; font-size: 16px;}
.request-form input ~ span, .request-form textarea ~ span{display: block; width: 0px; height: 3px; background: #fb0033; position: absolute; bottom: 0; left: 0; transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);}
.request-form input:focus, .request-form textarea:focus{outline: 0;}
.request-form input:focus ~ span, .request-form textarea:focus ~ span{width: 100%; transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);}
.request-form .c-content{height: 470px;}
textarea{width: 100%; height: 100%; box-sizing: border-box; resize: none; border: 0; border-bottom: 1px solid #999;}
.request-form .c-content img{position: absolute; left: -72px; bottom: 20px;}
.request-form .attachment{display: flex; align-items: center; justify-content: space-between;}
.request-form .attachment input#file-name{width: 95%;}
.request-form .attachment .file-input-box{width: 5%; position: relative; margin-bottom: 0;}
.request-form .attachment .file-input-box img{display: block; margin: 0 auto;}
.request-form .file-input-hidden{position: absolute; right: 0px; top: 0px; opacity: 0;}
.request-form .submit{text-align: center; padding-top: 40px; margin-bottom: 0;}
.request-form .submit input{width: 200px; height: 60px; background: #fff; color: #222; font-weight: 700; font-size: 20px; transition: all 0.4s ease; border: 1px solid #222; border-radius: 5px;}
.request-form .submit input:hover{background: #fb0033; color: #fff; border: 1px solid #fb0033;}

@media screen and (max-width: 1440px) {
	/* Desktop */
  .inner{width: 100%; padding: 200px 50px 0;}

}
@media screen and (max-width: 1023px) {
	/* Tablet */
  .top-con{background-size: contain;}
  .top-con .main-title{font-size: 50px;}
  .top-con .sub-title{font-size: 40px;}
  .request-box{width: 80%; margin: 0 auto; padding-left: 0;}
  .top-con img{width: 70%;}
  /* .pc_tab ul li{width: 33.3333%;} */

}

@media screen and (max-width:780px){
  .request-box{width: 100%; overflow: hidden;}
  .top-con img{position: unset; width: 100%; margin-top: 33px;}
}

@media screen and (max-width:767px){
  .inner{width: 100%; padding: 200px 20px 0;}

  .request-form .c-content img{left: auto; right: 0px;}
  .request-form .attachment input[type='text']{width: 85%;}
  .request-form .attachment .file-input-box{width: 10%;}
}