* {margin: 0; padding: 0}
html, body {width: 100%; height: 100%; margin: 0px; padding: 0px; font-family: 'Noto Sans';}
ul, ol {list-style: none}
a{text-decoration: none; color: #000;}
img{max-width: 100%;}
div{box-sizing: border-box;}
.clearfix {*zoom: 1;}
.clearfix::after {content: ""; display: block; clear: both;}

.f10{font-size: 10px;}
.f15{font-size: 15px;}
.f20{font-size: 20px;}
.f25{font-size: 25px;}
.f30{font-size: 30px;}
.f35{font-size: 35px;}
.f40{font-size: 40px;}
.f45{font-size: 45px;}
.f50{font-size: 50px;}
.f55{font-size: 55px;}
.f60{font-size: 60px;}
.f65{font-size: 65px;}
.f70{font-size: 70px;}
.f75{font-size: 75px;}
.f80{font-size: 80px;}
.f85{font-size: 85px;}

.arrow{display: inline-block; padding-bottom: 5px; margin-left: 15px; position: relative;}
.arrow:after{width: 30px; height: 30px; content: ''; position: absolute; border-radius: 50%; border: 2px solid #000; right: -15px; top: -15px; display: inline-block; opacity: 0; transition: all 1s ease;}
.arrow span{width: 30px; height: 2px; background: #000; position: relative; display: block; transition: all 0.4s ease;}
.arrow span:after{position: absolute; display: block; content: ''; width: 10px; height: 2px; background: #000; right: -1px; bottom: 3px; transform: rotate(45deg);}
.arrow span:before{position: absolute; display: block; content: ''; width: 10px; height: 2px; background: #000; right: -1px; bottom: -3px; transform: rotate(-45deg);}
a:hover .arrow span{width: 50px;}
a:hover .arrow:after{opacity: 1;}


.main-title{font-weight: 900; color: #000; text-transform: uppercase;}
.sub-title{font-weight: 700; color: #000;}

.header{position: fixed; width: 100%; z-index: 1000;}
.header h1{font-size: 0; padding-top: 50px; padding-left: 50px;}

.footer{width: 100%; border-top: 1px solid #222;}
.footer .mfooter{float: left; width: calc(100% - 65px); text-align: center; color: #222; padding: 25px 0; display: block;}
.footer .mfooter span{display: inline-block;}
.footer img{float: right; padding: 15px 15px 0; display: block;}

/*토글메뉴*/
#toggle {position: absolute; top: 50px; right: 50px; width: 30px; height: 21px; cursor: pointer; z-index: 1000; box-sizing: unset;}
#toggle div.bar, #toggle div.bar:before, #toggle div.bar:after {width: 100%; height: 3px; background: #333;}
#toggle div.bar {position: relative; transform: translateY(9px); transition: all 0.3s 0.3s ease;}
#toggle div.bar:before {content: " "; position: absolute; bottom: 9px; transition: bottom 0.3s 0.3s ease, transform 0.3s ease;}
#toggle div.bar:after {content: " "; position: absolute; top: 9px; transition: top 0.3s 0.3s ease, transform 0.3s ease;}

/* 토글 Animation */
#toggle div.bar.animate {background: rgba(255, 255, 255, 0);}
#toggle div.bar.animate:after {top: 0; transform: rotate(45deg); transition: top 0.3s ease, transform 0.3s 0.3s ease;}
#toggle div.bar.animate:before {bottom: 0; transform: rotate(-45deg); transition: bottom 0.3s ease, transform 0.3s 0.3s ease;}
#overlay {position: fixed; top: 0; right: 0; left: 0; bottom: 0; max-height: 0; overflow: hidden; transition: all 0.3s ease, max-height 0s 0.6s ease; z-index: 100; opacity: 1; background: #f5f5f5;}
#overlay nav {padding-top: 200px; padding-left: 200px;}
#overlay nav ul, #overlay nav ul li {margin: 0; padding: 0; display: block; position: static;}
#overlay nav ul li {opacity: 0; transition: all 0.9s 0s ease; margin-left: 60px;}
#overlay nav ul li a {position: relative; height: 70px; display: inline-block;text-transform: normal; font-size: 50px; font-weight: 700; color: #000000; text-decoration: none; transition: all 0.6s 0s ease;}
#overlay nav ul li a:after {content: " "; position: absolute; left: 0; bottom: 0; width: 0; opacity: 0; height: 1px; background: #888888; transition: all 0.6s 0s ease;}
#overlay nav ul li a:hover:after {width: 100%; opacity: 1;}
#overlay nav ul li a:hover {color: #888888;}
#overlay .company-info{padding-left: 200px; padding-top: 152px;}
#overlay .company-info-wrap{position: relative; opacity: 0; transition: all 0.9s 0s ease;}
#overlay .company-info-wrap .location{margin-top: 30px;}
#overlay .company-info-wrap .location a{position: relative}
#overlay .company-info-wrap .location a:after {content: " "; position: absolute; left: 0; bottom: 0; width: 0; opacity: 0; height: 1px; background: #000; transition: all 0.6s 0s ease;}
#overlay .company-info-wrap .location a:hover:after {width: 100%; opacity: 1;}
#overlay .company-info-wrap .copy{font-size: 10px; position: absolute; bottom: -60px;}
#overlay .company-info-wrap address{margin-top: 30px;}
#menu-page.overlay #overlay {position: fixed; top: 0; right: 0; left: 0; bottom: 0; max-height: 100vh; opacity: 1; z-index: 100; transition: all 0.3s ease;}
#menu-page.overlay #overlay nav ul li {margin-left: 0; opacity: 1; transform: rotate(.001deg);}
#menu-page.overlay #overlay nav ul li:nth-child(1) {transition: all ease 0.9s 0.6s;}
#menu-page.overlay #overlay nav ul li:nth-child(2) {transition: all ease 0.9s 0.8s;}
#menu-page.overlay #overlay nav ul li:nth-child(3) {transition: all ease 0.9s 1.0s;}
#menu-page.overlay #overlay nav ul li:nth-child(4) {transition: all ease 0.9s 1.2s;}
#menu-page.overlay #overlay .company-info-wrap{opacity: 1; transition: all 0.9s 1.6s ease;}
#menu-page.overlay #overlay .company-info .tel p{display: block; font-size: 16px; color: #000; font-weight: 500; opacity: 1; transition: all 0.9s 0.6s ease;}
#menu-page.overlay #overlay .company-info address{font-style: normal; font-weight: 500;}

/*풀페이지 모션*/
section{position:relative; width: 100%; height: 100%; box-sizing:border-box; overflow:hidden;}
section .fp-tableCell{overflow:hidden; background: #ececee;}
section *{box-sizing:border-box;}
section .contents{position:relative;width: 100%;height: 100%;z-index: 10;}
section .inner{position:relative;width: calc(100% - 260px);height: 100%;margin: 0 130px;z-index:12; background: #ececee;}
/*section 전환 */
section.fadeout .fp-tableCell{opacity:0.3; transition:0.4s;}
section:not(.fp-auto-height) .inner_center{padding-top: 80px;}
section:not(.fp-auto-height,.fadeout) .fp-tableCell{transform: scale(0.88) translateY(0%);transition: 0.3s;}
section.active:not(.fp-auto-height) .fp-tableCell{transform: scale(1) translateY(0%);border-radius:0;transition: 1s 0.8s;}
section.dark .contents:before, section.dark .contents:after{border-color:rgba(0,0,0,0.15);}

#fp-nav{position: fixed; top: 50%; left: 0; width: 104px; display: flex; flex-wrap: wrap; justify-content: center; z-index: 100;}
#fp-nav ul{position: relative;}
#fp-nav ul li{width: 4px; height: 4px; position: relative; left: 0px; width: 4px; height: 4px; background: #222; opacity: 1; box-sizing: border-box; margin: 0; transition: 0.3s;}
#fp-nav ul li + li{margin-top: 30px;}
#fp-nav ul li a{display: block;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{width: 4px; height: 24px; background: #fb0033; margin: -12px -2px; border-radius: 0;}

/* .quick {position: fixed; left: 50px; top: 50%; transform: translateY(-50%); z-index: 100000;}
.quick li {width: 4px; height: 4px; margin-bottom: 16px; background: #222;; cursor: pointer; transition: all 0.8s;}
.quick .on {background: #FB0033; height: 24px;} */

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1023px) {
	
}
@media screen and (max-width:767px){
  .header h1{padding-left: 20px;}
  #toggle{top: 50px; right: 20px; padding-right: 0;}
  #fp-nav{width: 44px;}
  #overlay nav{padding-left: 50px; padding-top: 140px;}
	#overlay .company-info{padding-left: 50px;}
}