body{overflow: hidden;}
/*레이아웃*/
#fullpage {position: relative; top: 0px; z-index: 9; width: 100%; height: 100%;}

/*스크롤버튼*/
.scroll-btn{position: fixed; left: 20px; bottom: 50px; z-index: 100;}
.scroll-btn p{display: inline-block; transform: rotate(-90deg); text-transform: uppercase; font-size: 9px; color: #222; font-weight: 700;}
.scroll-btn img{display: inline-block; padding-left: 20px; margin-bottom: 50px; position: absolute; top: -60px; left: 8px;}

.scrollbox {animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: -3px;}
}

body,#wrap{background:#0c0c0c;}
.section{width: 100%; height: 937px; position: relative;}
.section .l-txt-box{position: relative; width: 85%; padding-top: 250px; padding-left: 200px;}
.section .l-txt-box .container{margin: 0 auto; position: relative; overflow: hidden;}
.section .l-txt-box .container{font-size: 70px; font-weight: 900; color: #000;}
/* .section .l-txt-box .container p{display: inline-block;} */
.section .l-txt-box .title p span{display: block;}
.section .l-txt-box .date{font-size: 18px; font-weight: 300; margin-top: 34px; color: #666; line-height: 26px;}
.section .l-txt-box .txt{font-size: 26px; font-weight: 300; margin-top: 30px; color: #222;}
.section.full1 .fullBg{position: absolute; right: 10%;}
.section.full2 .fullBg{position: absolute; right: 0; top: 20%;}
.section.full3 .fullBg{position: absolute; right: 0;}
.section.full4 .fullBg{position: absolute; right: 0;}
.section.full5 .fullBg{position: absolute; right: 0; bottom: 2%;}
/* .full1 .contents{background: url('../images/mainbg_01.png') no-repeat 88% top;} */
/* .full2 .contents{background: url('../images/mainbg_02.png') no-repeat right 35%;} */
/* .full3 .contents{background: url('../images/mainbg_03.png') no-repeat right top;} */
/* .full4 .contents{background: url('../images/mainbg_04.png') no-repeat right top;} */
/* .full5 .contents{background: url('../images/mainbg_05.png') no-repeat right 95%;} */
.full5 .l-txt-box{padding-top: 220px;}
.full5 .l-txt-box .title{font-size: 50px; line-height: inherit;}
.full5 .l-txt-box .title span{text-decoration: underline;}
.full5 .l-txt-box .go-box{padding-top: 126px;}
.full5 .l-txt-box .go-box a{display: block; font-size: 20px; font-weight: 700; margin-bottom: 10px;}

@media screen and (min-width:1024px) and (max-width: 1440px) {
	/* Desktop */
	/* .section .l-txt-box{padding-top: 200px;} */
}
@media screen and (max-width: 1023px) {
	/* Tablet */
}
@media screen and (max-width:767px){ 
	/* Mobile */
	.section{width: 100%; height: 100%; position: relative; overflow: hidden;}
	/* section .contents{display: flex; flex-direction: column;} */
	.section .fullBg{width: 100%; height: 45vh; overflow: hidden;}
	.section .fullBg img{width: 100%; max-width: 100%; height: 100%; object-fit: cover;}
	.section.full1 .fullBg{position: unset;}
	.section.full2 .fullBg{position: unset;}
	.section.full3 .fullBg{position: unset;}
	.section.full4 .fullBg{position: unset;}
	.section.full5 .fullBg{position: relative; z-index: 10; height: unset; bottom: 0%;}
	.full2 .fullBg img{object-position: 77% center;}
	/* .section .l-txt-box{padding-top: 20px; padding-left: 49px; display: flex; flex-direction: column; justify-content: space-around;} */
	.section .l-txt-box{padding-left: 0; padding-top: 0; width: 100%; padding: 20px 40px;}
	.section .l-txt-box .container{height: unset; margin: unset;}
	.section .l-txt-box .container{font-size: 32px;}
	.section .l-txt-box .date{font-size: 16px; margin-top: 19px; line-height: normal;}
	.section .l-txt-box .txt{font-size: 16px; color: #666; margin-top: 19px;}
	.section .l-txt-box .txt br{display: none;}
	section.full5 .contents{display: flex; flex-direction: column-reverse; justify-content: space-around;}
	section.full5 .l-txt-box{padding-top: 50px;}
	section.full5 .l-txt-box .title{font-size: 22px;}
	.full5 .l-txt-box .go-box a{font-size: 18px;}
	.full5 .l-txt-box .go-box{padding-top: 26px; margin-bottom: 00px;}
	.scroll-btn{display: none;}

}