/*레이아웃*/
#fullpage {position: relative; top: 0px; z-index: 9; width: 100%; height: 100%;}

.quick {position: fixed; left: 50px; top: 50%; transform: translateY(-50%); z-index: 100000}
.quick li {width: 4px; height: 4px; margin-bottom: 16px; background: #222;; cursor: pointer; transition: all 0.8s;}
.quick .on {background: #FB0033; height: 24px;}

.scroll-btn{position: fixed; left: 20px; bottom: 50px;}
.scroll-btn p{display: inline-block; transform: rotate(-90deg); text-transform: uppercase; font-size: 9px; color: #222; font-weight: 700;}
.scroll-btn i{display: inline-block; padding-left: 20px; margin-bottom: 50px; position: absolute; top: -60px; left: 10px;}

.fullsection{width: 100%; height: 100%; position: relative;}
/*.inner{max-width: 1600px; height: 100%; margin: 0 auto; }*/
/*.fullsection .r-img-box{float: right; height: 100%; overflow: hidden;}*/
.fullsection .l-txt-box{float: left; padding-top: 300px; padding-left: 200px;}
.fullsection .l-txt-box .title{font-size: 70px; font-weight: 900; color: #000; line-height: 90px;}
.fullsection .l-txt-box .date{font-size: 18px; font-weight: 300; margin-top: 34px; color: #666; line-height: 26px;}
.fullsection .l-txt-box .txt{font-size: 26px; font-weight: 300; margin-top: 30px; color: #222;}
.full1 {background: url('../images/mainbg_01.png') no-repeat 88% top;}
.full2 {background: url('../images/mainbg_02.png') no-repeat right 35%;}
.full3 {background: url('../images/mainbg_03.png') no-repeat right top;}
.full4 {background: url('../images/mainbg_04.png') no-repeat right top;}
.full5 {background: url('../images/mainbg_05.png') no-repeat right 95%;}
.full5 .l-txt-box{padding-top: 220px;}
.full5 .l-txt-box .title{font-size: 50px; line-height: inherit;}
.full5 .l-txt-box .title span{text-decoration: underline;}
.full5 .l-txt-box .go-box{padding-top: 126px;}
.full5 .l-txt-box .go-box a{display: block; font-size: 20px; font-weight: 700; margin-bottom: 10px;}