body{overflow: hidden;}
/*레이아웃*/
#fullpage {position: relative; top: 0px; z-index: 9; width: 100%; height: 100%;}

/*스크롤버튼*/
.scroll-btn{position: fixed; left: 20px; bottom: 50px; z-index: 100;}
.scroll-btn p{display: inline-block; transform: rotate(-90deg); text-transform: uppercase; font-size: 9px; color: #222; font-weight: 700;}
.scroll-btn img{display: inline-block; padding-left: 20px; margin-bottom: 50px; position: absolute; top: -60px; left: 8px;}

.scrollbox {animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: -3px;}
}

body,#wrap{background:#0c0c0c;}
.section{width: 100%; height: 937px; position: relative;}
.section .l-txt-box{position: relative; padding-left: 200px;}
.section .l-txt-box .container{margin: 0 auto; position: relative; overflow: hidden;}
.section .l-txt-box .container{font-size: 70px; font-weight: 900; color: #222;}
.section .l-txt-box .container p{position: relative;}
.section .l-txt-box .container p span{display: inline-block; position: relative;}
.section .l-txt-box .date{font-size: 18px; font-weight: 300; margin-top: 34px; color: #666; line-height: 26px; display: inline-block;}
.section .l-txt-box .date a{display: block;}
section .l-txt-box .date .go_txt{display: inline-block; position: relative; font-size: 14px; font-weight: 700; color: #666;}
section .l-txt-box .date .go_txt::before{content: ''; position: absolute; bottom: 0; right: 0; width: 0; height: 2px; background-color: #fb0033; transition: all .5s ease 0s; backface-visibility: hidden;}
section .l-txt-box .date .go_txt:hover::before{width: 100%; left: 0; transition-delay: .25s;}
section .l-txt-box .date .go_txt::after{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background-color: #fb0033; transition: all .5s ease .25s; backface-visibility: hidden;}
section .l-txt-box .date .go_txt:hover::after{width: 0; right: 0; left: unset; transition-delay: 0s;}
section .l-txt-box .date .icon-go_web{display: inline-block; width: 13px; height: 13px; margin-left: 4px; background: url('../images/icon-go_web.svg') no-repeat center/contain; vertical-align: -2px;}
.section .l-txt-box .txt{font-size: 26px; font-weight: 300; margin-top: 30px; color: #222;}
.section.full1 .fullBg{position: absolute; right: 10%;}
.section.full2 .fullBg{position: absolute; right: 0; top: 20%;}
.section.full3 .fullBg{position: absolute; right: 0;}
.section.full4 .fullBg{position: absolute; right: 0;}
.section.full5 .fullBg{position: absolute; right: 0px; bottom: 0px; z-index: -1;}
/* .section.full5 .contents{display: flex; flex-direction: column; justify-content: flex-end; align-items: center;} */
/* .full5 .l-txt-box{padding-top: 0px; padding-left: 0; display: flex; flex-direction: column;} */
.full5 .l-txt-box .title{font-size: 50px; line-height: inherit; margin-bottom: 50px;}
.full5 .l-txt-box .title span{display: inline-block; position: relative;}
.full5 .l-txt-box .title span::after{position: absolute; content: ''; display: block; width: 100%; height: 5px; background: #fb0033; left: 0; bottom: 1px;}
.full5 .l-txt-box .go-box{display: inline-block; margin-bottom: 30px;}
.full5 .l-txt-box .go-box a{display: block; font-size: 20px; font-weight: 700; margin-bottom: 10px;}
.full5 .l-txt-box .go-box a:last-child{margin-bottom: 0;}
.full5 .footer .go-top{display: none;}

@media screen and (min-width:1024px) and (max-width: 1440px) {
	/* Desktop */
}
@media screen and (max-width: 1023px) {
	/* Tablet */
	.section .l-txt-box{padding-left: 100px;}
	.section.full5 .fullBg{opacity: 0.4;}
}
@media screen and (max-width:767px){ 
	/* Mobile */
	.section{width: 100%; height: 100%; position: relative; overflow: hidden;}
	/* section .contents{display: flex; flex-direction: column;} */
	.section .fullBg{width: 100%; height: 320px; overflow: hidden;}
	.section .fullBg img{width: 100%; height: 100%; object-fit: cover;}
	.section.full1 .fullBg{position: unset;}
	.section.full2 .fullBg{position: unset;}
	.section.full3 .fullBg{position: unset;}
	.section.full4 .fullBg{position: unset;}
	.section.full5 .fullBg{position: unset; height: auto; opacity: 1;}
	.section.full5 .fullBg img{height: auto;}
	.full2 .fullBg img{object-position: 77% center;}
	/* .section .l-txt-box{padding-top: 20px; padding-left: 49px; display: flex; flex-direction: column; justify-content: space-around;} */
	.section .l-txt-box{padding-left: 0; padding-top: 0; width: 100%; padding: 20px 40px;}
	.section .l-txt-box .container{height: unset; margin: unset;}
	.section .l-txt-box .container{font-size: 32px;}
	.section .l-txt-box .date{font-size: 16px; margin-top: 19px; line-height: normal;}
	.section .l-txt-box .txt{font-size: 16px; color: #666; margin-top: 19px;}
	.section .l-txt-box .txt br{display: none;}
	section .contents{flex-direction: column;}
	section.full5 .contents {display: flex; align-items: flex-end; flex-direction: column-reverse;}
	section.full5 .contents .l-txt-box{display: flex; flex-direction: column;}
	section.full5 .l-txt-box .title{font-size: 22px; margin-bottom: 30px;}
	.full5 .l-txt-box .go-box a{font-size: 18px;}
	.scroll-btn{display: none;}

}